.SlideBar {
    z-index: 90;
    width: 16.67vw;
    height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background: white;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.04);
        }
    }
}
