.AdminBaiViets {
    width: 95%;
    margin-top: 20px;
    min-height: calc(100vh - 75px);
    height: auto;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
